.content-cont{
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-1 {
  width: 100%;
}

.left-right{
  display: flex;
  justify-content: space-between;
  margin-top: 9rem;
}

.right{
  margin-right: 80px;
}

.text-1 {
  text-align: left;
  margin-left: 80px;
}

.important-text{
  color: #F5FBF2;
  font-family: Oxanium;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: 130px;
  
}

.important-text a{
  color: var(--primary);
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 562px;
  margin-top: 77px;
}

.explore{
  background-color: var(--primary);
  width: 257px;
  height: 84px;
  color: #16091B;
  font-family: Work Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; 
  border: none;
  cursor: pointer;
}

.explore:hover{
  background: rgba(233, 215, 167, 0.10);
  color: #F5F5F5;
  border: 1px solid var(--primary-color, #FFCE4E);
}

.create{
  margin-left: 48px;
  color: #F5F5F5;
  font-family: Work Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; 
  width: 257px;
  height: 84px;
  border: none;
  border: 1px solid var(--primary-color, #FFCE4E);
  background: rgba(233, 215, 167, 0.10);
  cursor: pointer;
}

.create:hover{
  background-color: var(--primary);
  color: #16091B;
}

.img-cont{
  display: flex;
  justify-content: center;
}

.img-right{
  width: 558px;
  height: 718px;
  background-image: url(./Navbar/images/importantnft.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.nft-img-text{
  width: 100%;
  height: 142px;
  background-color: #F5F5F5;
  margin-top: -8.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nit{
  margin-left: 60px;
}

.nit p{
  color: #16091B;
  font-family: Oxanium;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.96px;
}

.nit label{
  color: #594D5E;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.452px;
}

.start-bid{
  width: 205px;
  height: 72px;
  background: var(--primary-color, #FFCE4E);
  /* backdrop-filter: blur(22.5px); */
  border: none;
  color: #16091B;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 39px;
}

.upper-side{
  display: flex;
  justify-content: center;
  width: 100%;
}

.upper-side-text{
  position: absolute;
  width: 512px;
  height: 98px;
  background: linear-gradient(145deg, rgb(168, 28, 150) 10%, rgba(250, 250, 250, 0.938) 90%);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 54px 0 39px;
}

.up{
  color: #E4DEE7;
  font-family: Oxanium;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}

.down{
  color: #FFF;
  font-family: Oxanium;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.artworks-auctions-creators-center{
  display: flex;
  justify-content: flex-start;
}

.artworks-auctions-creators{
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 121px;
}

/* Content.css */


/* ... modal-slider styles ... */


.artworks-auctions-creators p{
  color: #F5FBF2;
  font-family: Oxanium;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.artworks-auctions-creators label{
  color: #9B9E9A;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.452px; /* 147.717% */
}



/* Responsive Styles */

@media screen and (max-width: 1430px) {
  .important-text{
    font-size: 75px;
  }
}

@media screen and (max-width: 1350px) {
  .important-text{
    font-size: 70px;
    line-height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .artworks-auctions-creators{
    margin: 0;
    padding: 0;
  }

  .left-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .important-text{
    font-size: 42px;
    line-height: normal;
    text-align: center;
  }

  .btn-center{
    display: flex;
    justify-content: center;
  }

  .buttons{
    display: flex;
    justify-content: space-around;
    max-width: 330px;
    margin-top: 56px;
  }

  .create,
  .explore{
    font-size: 18px;
    width: 155px;
    height: 54px;
  }

  .right{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .img-cont{
    display: flex;
    justify-content: center;
  }

  .img-right img{
    width: 282px;
    height: 378px;
  }

  .nft-img-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 282px;
    height: 82px;
    background-color: #f5f5f5;
  }
  
  .nit{
    margin-left: 60px;
  }
  
  .nit p{
    color: #16091B;
    font-family: Oxanium;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.96px;
  }
  
  .nit label{
    color: #594D5E;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.452px; 
  }
  .left-right{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .img-right{
    width: 282px;
    height: 382px;
  }
  
  .nft-img-text{
    height: 82px;
    margin-top: -82px;
  }

  .nit{
    margin-left: 40px;
    line-height: 2px;
  }
  
  .nit p{
    font-size: 18px;
  }
  
  .nit label{
    font-size: 14px;
  }
  
  .start-bid{
    width: 121px;
    height: 42px;
    margin-right: 27px;
    font-size: 16px;
  }

  .upper-side-text{
    position: absolute;
    width: 247px;
    height: 73px;
    padding: 0 38px 0 21px;
  }

  .up{
    font-size: 16px;
    letter-spacing: 1.28px;
  }
  
  .down{
    font-size: 22px;
  }

  .artworks-auctions-creators{
    justify-content: space-around;
    margin-top: 31rem;
  }

  .artworks-auctions-creators p{
    font-size: 36px;
  }
  
  .artworks-auctions-creators label{
    font-size: 16px;
  }

  .text-1{
    margin: 0;
  }

  .important-text{
    margin-top: 170px;
  }
  
  .right{
    margin-right: 0;
    margin-top: -32rem;
  }
  
}
  
@media (max-width: 480px) {
  .text-1{
    margin: 0;
  }
  
  .right{
    margin-right: 0;
  }
}
  