.slider{
    margin-top: 170px;
}

.slider-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.first-buttons{
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.fb-cont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
    width: 150px;
}

.prev-button,
.next-button{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    background-color: #F5FBF2;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prev-button:hover,
.next-button:hover{
    filter: brightness(30%);
    transition: 0.1s ease-in;
}

.card-style{
    display: grid;
    grid-gap: 50px;
    flex-basis: 70%;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    width: 100%;
}

.card{
    max-width: 495px;
    height: 690px;
    background-color: #3D2942;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.card1{
    max-width: 525px;
    height: 432px;
    background-color: #3D2942;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

/*------------- card2-before-and-hover --------------*/
.card2 {
    max-width: 450px;
    height: 550px;
    background-color: #3D2942;
    padding: 32px;
    display: flex;
    flex-direction: column;
    transition: brightness 0.3s ease;
}

.card2 .partner:hover {
  filter: brightness(30%);
}
  
.bid-now-button{
    position: relative;
    width: 100%;
    padding: 134px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -337px;
    opacity: 0;
    background-color: #000000c9;

}

.bid-now-button button{
    width: 246px;
    height: 70px;
    background: var(--primary-color, #FFCE4E);
    color: #000;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}
  
.bid-now-button:hover{
    opacity: 1;
    transition: all 0.4s ease;
}
  

.top-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.left-side{
    display: flex;
    align-items: center;
}

.img-down-text{
    margin-left: 16px;
}

.img-down-text1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img-down-text1 .idt-description{
    color: #C2B5C6;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 35.452px;
}

.img-down-text1 .idt-title{
    margin-left: 16px;
}

.idt-title{
    color: #F5FBF2;
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 35.452px; 
}

.idt-description{
    color: #BDAAC1;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.452px; 
}

.favorite .icon{
    cursor: pointer;
}

.favorite p{
    display: flex;
    align-items: center;
    color: #76607A;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.fav-number{
    margin-left: 12px;
}

.paragraphs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-bid{
    color: #C6BFC8;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.452px;
}

.price{
    color: #F5FBF2;
    font-family: Oxanium;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.452px;
}

.bottom-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 28px;
}

.bottom-side button{
    border: 1px solid #FDE8B3;
    background: rgba(233, 215, 167, 0.10);
    color: #FFF;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35.452px;
    letter-spacing: 1.2px;
    height: 80px;
    margin-top: 28px;
}

.bottom-side button:hover{
    color: #16091b;
    background: #FDE8B3;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.partner{
    width: 100%;
    height: 360px;
    border-radius: none;
}

.button-view-all{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 84px;
}

.button-view-all button{
    width: 257px;
    height: 84px;
    background: none;
    color: #F5FBF2;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 35.452px;
    letter-spacing: 1.5px;
    border: 1px solid var(--primary-color, #FFCE4E);
    cursor: pointer;
}

.button-view-all button:hover{
    color: #16091b;
    background: #FFCE4E;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    justify-content: center;
    background-color: rgb(12, 1, 12);
    width: 95%;
    height: 95%;
    padding: 20px;
    overflow-y: auto;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 1px solid #FFCE4E;
    padding: 10px 20px;
    cursor: pointer;
    color: #FFCE4E;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
    margin-right: 100px;
}
  
.all-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(495px, 10%));
    grid-gap: 20px;
    justify-content: center;
}

.all-photos .card {
    position: relative;
    overflow: hidden;
}
  
.all-photos .card img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.all-photos .ai-img img{
    width: 54px;
    height: 54px;
}

@media screen and (max-width: 1348px){
    .card-style{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .first-buttons{
        align-items: center;
        justify-content: center;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 1024px){
    .card-style{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 480px){
    .fb-cont{
        display: none;
    }
    
    .card-style{
        grid-template-columns: auto;
    }

    .card{
        max-width: 343px;
        height: 560px;
        padding: 24px;
    }

    .card1{
        max-width: 343px;
        height: 300px;
        padding: 24px;
    }

    .card2{
        width: 343px;
        height: 470px;
    }

    .partner{
        height: 250px;
    }

    .bottom-side button{
        height: 54px;
        font-size: 20px;
        margin-top: 40px;
    }

    .favorite p{
        font-size: 24px;
    }
    
    .current-bid{
        font-size: 20px;
    }

    .idt-title{
        font-size: 18px;
    }
    
    .idt-description{
        font-size: 14px;
    }

    .button-view-all button{
        width: 187px;
        height: 54px;
        font-size: 18px;
    }

    .all-photos{
        grid-template-columns: auto;
    }

    .circle-and-title p{
        font-size: 36px;
    }
    
    .purple-circle{
        width: 84px;
        height: 84px;
    }

    .red-circle{
        width: 84px;
        height: 84px;
    }

    .logo1{
        width: 42px;
        height: 42px;
    }

    .bid-now-button button{
        width: 187px;
        height: 54px;
        font-size: 20px;
    }

    .bid-now-button{
        padding: 95px 0;
        margin-top: -15.2rem;
    }
}
